<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to <%= user.name %></h1>
    <p>Email is <%= user.email %> and <%= user.city %></p>
    <ul>
        <% user.skills.forEach((item) => { %>
            <li> <%= item %></li>
        <% }) %>
    </ul>
</body>
</html>